{{ define "main" }}
<article>
  {{ with .Params.banner }}
  <img src="{{ . }}" alt="{{ $.Title }}">
  {{ end }}

  <header>
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<p>{{ . }}</p>{{ end }}
    <div>
      {{ if eq .Type "work" }}
        {{ with .Params.category }}<span>{{ . }}</span>{{ end }}
      {{ end }}
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    </div>
  </header>

  {{ with .Params.preamble }}<p>{{ . }}</p>{{ end }}

  <div>{{ .Content }}</div>
</article>
{{ end }}
