@media (max-width: 1280px) {
  :root {
    --gs-1: 1fr;
    --gs-2: repeat(2, 1fr);
    --gs-3: repeat(3, 1fr);
    --gs-4: repeat(6, 1fr);
    --fs-ratio: 1.25;
  }

  .grid-overlay div:nth-child(n + 7) {
    display: none;
  }
}

@media (max-width: 1024px) {
  :root {
    --gs-1: 1fr;
    --gs-2: 1fr;
    --gs-3: 1fr 1fr;
    --gs-4: repeat(3, 1fr);
    --fs-ratio: 1.2;
  }
  html {
    font-size: max(95%, 15px);
  }
  .grid-overlay div:nth-child(n + 4) {
    display: none;
  }
}

@media (max-width: 768px) {
header {
    position: absolute;
}
.menu-tgl {
  display: flex;
}
body:has(.menu-tgl.active) {
  overflow: hidden;
}
nav {
  z-index: 97;
}
 nav ul {
    position: fixed;
    inset: 0;
    background: var(--c-bg-100);
    display: flex;
    flex-direction: column;
    padding: 7rem 1rem;
    z-index: -1;
    gap: .35rem;
  opacity: 0;
  transition: opacity var(--transition);
    backdrop-filter: blur(4px);
    pointer-events: none;
  }
 body:has(.menu-tgl.active) nav ul {
    opacity: 1;
    pointer-events:all;
  }
  nav li {
    font-size: var(--fs-2);
    transform: translateY(2ch);
    transition-property: opacity, transform;
    transition-duration: var(--timing);
    transition-timing-function: var(--bezier);
    opacity: 0;
  }
 body:has(.menu-tgl.active) nav li {
    transform: translateY(0);
    opacity: 1;
  transition-delay: calc(.033s * var(--i));
  }
}

@media (max-width: 625px) {
  :root {
    --gs-1: 1fr;
    --gs-2: 1fr;
    --gs-3: 1fr;
    --gs-4: repeat(2, 1fr);
  }
.option-display h1,
.option-display .fs-8 {
  --fs-8: calc(var(--fs-5) * var(--fs-ratio));
}
  main > * {
    grid-column: 1/-1;
  }

  .grid-overlay div:nth-child(n + 3) {
    display: none;
  }
}

@media (min-width: 768px) {}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}