{{ define "main" }}
{{ $all     := where .Site.RegularPages "Type" "in" (slice "work" "blog") }}
{{ $initial := .Site.Params.postsInitial | default 6 }}

<section id="posts">
  <div class="listing-items">
    {{ range $i, $p := $all }}
    {{ if lt $i $initial }}
      {{ if eq $p.Type "work" }}
      <a href="{{ $p.RelPermalink }}" class="work-item">
        {{ partial "figure.html" (dict "banner" $p.Params.banner "shader" $p.Params.shader "visualizer" $p.Params.visualizer "auto_ripple" $p.Params.auto_ripple "interaction" "none" "alt" $p.Title) }}
        <span class="post-title">{{ $p.Title }}</span>
        {{ with $p.Params.category }}<span class="post-meta">{{ . }}</span>{{ end }}
      </a>
      {{ else }}
      <a href="{{ $p.RelPermalink }}" class="blog-item">
        {{ partial "figure.html" (dict "banner" $p.Params.banner "shader" $p.Params.shader "visualizer" $p.Params.visualizer "auto_ripple" $p.Params.auto_ripple "interaction" "none" "alt" $p.Title) }}
        <span class="post-title">{{ $p.Title }}</span>
        <span class="post-meta">{{ $p.Date.Format "Jan 2006" }}</span>
      </a>
      {{ end }}
    {{ end }}
    {{ end }}
  </div>
  {{ if gt (len $all) $initial }}
  <button class="load-more-btn" data-loaded="{{ $initial }}" data-batch="{{ $initial }}">More</button>
  {{ end }}
</section>

{{ end }}
